@page "/"
@using BlazorApp.Components
@using BlazorApp.Model
@using System.Net.Http.Json
@inject HttpClient Http

<PageTitle>Home</PageTitle>



<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            @if (products == null)
            {
                <p>
                    <em>Loading...</em>
                </p>
            }
            else
            {
                @foreach (var product in products)
                {
                    <ProductComponent Product="@product" />
                }
            }
        </div>
    </div>
</section>


@code {

    private List<Product>? products;

    protected override async Task OnInitializedAsync()
    {
       products = await Http.GetFromJsonAsync<List<Product>>("api/products");
    }

}